.loginBoxForm {
  width: 100%;
}

.loginBoxInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.loginBoxInput>div {
  display: flex;
  flex-direction: column;
  gap: 16px
}


.loginBoxList {
  color: white;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loginBoxList li {
  gap: 16px;
  display: flex;
  align-items: center;
}

.loginBoxList li::after {
  content: "";
  width: 1px;
  height: 16px;
  background: var(--colorWhite);
  display: inline-block;
}

.loginBoxList li:last-child::after {
  display: none;
}