.BusinessTitle {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 16px;
}
.BusinessDesc {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.BusinessActive {
  display: flex;
  padding: 40px 0;
  gap: 16px;
  > li {
    width: calc(100% / 3 - 10.67px);
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
  }
  .Active {
    background: #00f2fe;
    box-shadow: 0px 0px 5px 0px rgba(0, 242, 254, 0.5);
  }
}
.BusinessInfo {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  position: relative;
  > h2 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 28px;
    padding-bottom: 8px;
  }
  > h1 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 28px;
    padding-bottom: 16px;
  }
  > span {
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    line-height: 22px;
  }
  .BusinessSelectValue {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    background: transparent;
    color: #9d9d9d;
    font-weight: 500;
    position: relative;
    p * {
      position: absolute;
      right: 16px;
      top: 16px;
      color: #9d9d9d;
      width: 24px;
      height: 24px;
    }
  }
  .BusinessSelect {
    position: absolute;
    top: 108px;
    width: 100%;
    background: #141414;
    z-index: 2;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .BusinessSelect li {
    padding: 16px;
    color: #fff;
    &:hover {
      background: #4facfe;
    }
  }
  > input {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    background: transparent;
    color: #9d9d9d;
  }
  > label {
    position: relative;
    > input {
      width: 100%;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px;
      background: transparent;
      color: #9d9d9d;
    }
    .btn * {
      position: absolute;
      top: 16px;
      width: 24px;
      height: 24px;
      right: 16px;
      color: #9d9d9d;
    }
  }
  > select {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    background: transparent;
    color: #9d9d9d;
  }
}
.BusinessNextBtn {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  border-radius: 8px;
  background: linear-gradient(136deg, #00f2fe 0%, #4facfe 100%);
}
