.button {
  border-radius: 8px;
  background: var(--colorButton);
  padding: 16px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
  width: 100%;
  cursor: pointer;
}
