.loginBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #141414;
  box-shadow: 0px 0px 15px 0px rgba(20, 20, 20, 0.7);
  display: flex;
  width: 500px;
  flex-direction: column;
  z-index: 9999;
  padding: 16px;
  align-items: flex-start;

  .loginBoxClose {
    text-align: right;
    width: 100%;

    button {
      border: 0;
      cursor: pointer;
      background: transparent;

      svg {
        width: 36px;
        height: 36px;

        path {
          color: var(--colorWhite) !important;
        }
      }
    }
  }

  .loginBoxLogo {
    padding: 80px 16px;
    text-align: center;
    width: 100%;

    img {
      width: 171.818px;
      height: 36px;
    }
  }

  input {
    border-radius: 8px;
    padding: 16px;
    max-width: 468px;
    width: 100%;
    border: 1px solid var(--colorBorder);
    background: transparent;
    color: var(--colorWhite);

    &::placeholder {
      color: var(--colorFont);
    }
  }

  form {
    button {
      border-radius: 8px;
      background: var(--colorButton);
      padding: 16px 0;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.4px;
      width: 100%;
      cursor: pointer;
    }
  }
}

.loginBoxBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}