.JoinFinishBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.icon {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.Title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.Desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: -0.4px;
}

.JoinFinishBtn {
  border-radius: 8px;
  background: var(--colorButton);
  padding: 16px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
  width: 100%;
  cursor: pointer;
  margin-top: 24px;
}