.SearchList > li {
  width: calc(100% / 3 - 16px);
}
.SearchListInputBox {
  position: relative;
  padding: 24px 0;
}
.SearchListInputBox input {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 16px 16px 16px 48px;
  gap: 8px;
  background: transparent;
}

.SearchListInputBox input::placeholder {
  color: #9d9d9d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}
.SearchBtn {
  position: absolute;
  top: 37px;
  left: 16px;
}
.SearchBtn * {
  width: 24px;
  height: 24px;
  color: #9d9d9d;
}
.SearchItem ul {
  display: flex;
  gap: 12px;
}
.SearchItem ul li {
  position: relative;
}
.SearchItem ul li:nth-child(2) {
  margin-left: 12px;
}
.SearchItem button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
.SearchItem .active {
  color: white;
}
.SearchItem ul li:nth-child(2)::before {
  content: " ";
  position: absolute;
  left: -12px;
  width: 1px;
  top: 5px;
  height: 16px;
  background: #9d9d9d;
}
.SearchItem * {
  font-size: 14px;
  color: #9d9d9d;
}
