.SearchList > li {
  width: calc(100% / 3 - 16px);
}
.SearchListInputBox {
  position: relative;
  padding: 40px 0;
}
.SearchListInputBox input {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 16px 16px 16px 48px;
  gap: 8px;
  background: transparent;
}

.SearchListInputBox input::placeholder {
  color: #9d9d9d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}
.SearchBtn {
  position: absolute;
  top: 56px;
  left: 16px;
}
.SearchBtn * {
  width: 24px;
  height: 24px;
  color: #9d9d9d;
}
