.Popup {
  .PopupBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 468px;
    z-index: 10;
    border-radius: 8px;
    background: #141414;
    .Popup_Head {
      display: flex;
      padding: 16px;
      justify-content: flex-end;
      align-items: flex-start;
      align-self: stretch;
      button {
        background: transparent;
        border: 0;
        svg {
          font-size: 36px;
          * {
            color: white;
          }
        }
      }
    }
    .Popup_Body {
      font-size: 16px;
      line-height: 24px; /* 150% */
      letter-spacing: -0.4px;
      font-style: normal;
      form {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        h2 {
          color: #fff;
          font-weight: 700;
          padding-bottom: 16px;
        }
        input {
          &::placeholder {
            color: #89898a;
            font-weight: 400;
          }
        }
        .companyIntro {
          width: 100%;
          height: 100%;
          .companyTextBox {
            position: relative;
            h2 {
              padding-bottom: 16px;
            }
            p {
              color: #9d9d9d;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: -0.4px;
              position: absolute;
              width: 100%;
              background: #141414;
              padding-right: 16px;
              padding-bottom: 16px;
              bottom: 0;
              z-index: 10;
              text-align: right;
              border-radius: 0 0 8px 8px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-top: 0;
              right: 0;
            }
            textarea {
              width: 100%;
              font-family: "Spoqa Han Sans Neo", "sans-serif";
              padding: 16px 16px 36px 16px;
              height: 150px;
              border-radius: 8px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              background: transparent;
              color: white;
              resize: none;
              outline: none;
              &::-webkit-scrollbar {
                display: none;
              }
            }
          }
          .companyError {
            padding-top: 16px;
            span {
              display: block;
              position: relative;
              padding-left: 9px;
              color: #ff4747;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
              letter-spacing: -0.4px;
              &::before {
                position: absolute;
                left: 0;
                content: " ";
                background: #ff4747;
                width: 5px;
                height: 5px;
                top: 7px;
                border-radius: 50%;
              }
            }
          }
        }
        .companyTag {
          width: 100%;
          height: 100%;
          h2 {
            padding-bottom: 16px;
          }
          div {
            position: relative;
            input {
              width: 100%;
              outline: none;
              padding: 16px;
              border-radius: 8px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              background: transparent;
              color: white;
            }
            button {
              position: absolute;
              right: 0;
              background: transparent;
              border: 0;
              color: #89898a;
              height: 53px;
              width: 53px;
            }
          }
          .PreferredAffiliateCompany_Desc {
            span {
              color: #89898a;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
              letter-spacing: -0.4px;
              position: relative;
              padding-left: 11px;
              &::before {
                content: " ";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                background: #89898a;
                top: 7px;
              }
            }
          }
          .companyError {
            display: block;
            position: relative;
            color: #ff4747;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 150% */
            letter-spacing: -0.4px;
            &::before {
              position: absolute;
              left: 0;
              content: " ";
              background: #ff4747;
              width: 5px;
              height: 5px;
              top: 7px;
              border-radius: 50%;
            }
          }
        }
        .companyTagList {
          gap: 8px;
          display: flex;
          overflow-x: auto;
          white-space: nowrap;
          width: 100%;
          height: 48px;
          padding-top: 16px;

          > div {
            > div {
              > div {
                width: auto !important;
              }
            }
          }
          span {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            letter-spacing: -0.4px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            color: white;
            display: flex;
            padding: 4px 35px 4px 12px;
            justify-content: center;
            align-items: center;
            width: auto; /* 기본적으로 자동으로 조절되도록 설정 */
            gap: 8px;
            button {
              background: transparent;
              border: 0;
              font-size: 16px;
              padding: 0;
              display: flex;
              align-items: center;
              height: auto;
              width: auto;
              position: absolute;
              right: 12px;
              svg {
                * {
                  color: white;
                }
              }
            }
          }
        }
      }
      .textareaError {
        border: 1px solid #ff4747 !important;
      }
      .BorderError {
        border: 1px solid #ff4747 !important;
        border-top: 0 !important;
      }
    }
  }

  .PopupBoxBackground {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    background: black;
    z-index: 9;
    opacity: 0.5;
  }
  .PopupTrue {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: 24px;
    align-self: stretch;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    background: #141414;
    width: 468px;
    border-radius: 8px;
    h1 {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.4px;
    }
  }
}
