.title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.4px;
}
.TopTitle {
  padding-bottom: 16px;
}
.View_wrap {
  color: white;
  width: 100%;
  display: flex;
  gap: 16px;
  padding-bottom: 40px;
  .View_left {
    width: calc(100% - 300px);
    .View_card {
      display: flex;
      flex-direction: column;
      gap: 24px;
      > .ModifyBox {
        position: relative;
        display: flex;
        > .Modify {
          position: absolute;
          right: 0;
          top: 0;
          button {
            border: 0;
            color: #00f2fe;
            background: transparent;
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
      > .View_Title {
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        gap: 16px;
        align-items: center;
        .View_Img {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .View_Info {
          width: calc(100% - 100px);
          display: flex;
          flex-direction: column;
          gap: 12px;
          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.4px;
            button {
              border: 0;
              background: transparent;
              * {
                color: #00f2fe;
              }
            }
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              display: flex;
              padding: 4px 12px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 4px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              color: #fff;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px; /* 157.143% */
              letter-spacing: -0.4px;
            }
          }
        }
      }
      > .View_Text {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
        p {
          span {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.4px;
          }
          .on {
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨
          }
          button {
            border: 0;
            background: transparent;
            color: var(--colorMain);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.4px;
          }
        }
        ul {
          display: flex;
          gap: 10px;
          li {
            width: calc(100% / 4);
            height: 150px;
            border-radius: 8px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      > .View_Desc {
        > div {
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          display: flex;
          padding: 16px;
          flex-direction: column;
          gap: 16px;
          span {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.4px;
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              display: flex;
              padding: 4px 12px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 4px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              color: #fff;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px; /* 157.143% */
              letter-spacing: -0.4px;
            }
          }
        }
      }
      > .View_UserList {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
        .ViewURL {
          display: flex;
          gap: 7px;
          input {
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            padding: 12px 16px;
            align-items: center;
            gap: 10px;
            color: #9d9d9d;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            width: calc(100% - 94px);
            letter-spacing: -0.4px;
            background: transparent;
          }
          button {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            letter-spacing: -0.4px;
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: transparent;
            color: var(--2, #00f2fe);
          }
        }
        .View_UserItem {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .View_UserDesc {
            ul {
              display: flex;
              li {
                width: 50%;
                .View_UserBox {
                  position: relative;
                  display: flex;
                  gap: 16px;
                  svg {
                    display: flex;
                    width: 64px;
                    height: 64px;
                    padding: 16px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    background: rgba(255, 255, 255, 0.1);
                    * {
                      color: white;
                    }
                  }
                  div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;
                    h1 {
                      color: #fff;
                      font-size: 16px;
                      font-weight: 700;
                      line-height: 24px; /* 150% */
                      letter-spacing: -0.4px;
                    }
                    span {
                      color: #fff;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 22px; /* 157.143% */
                      letter-spacing: -0.4px;
                    }
                    button {
                      border-radius: 4px;
                      border: 1px solid rgba(255, 255, 255, 0.1);
                      display: flex;
                      padding: 8px 16px;
                      align-items: center;
                      gap: 10px;
                      background: transparent;
                      color: #00f2fe;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 22px;
                      letter-spacing: -0.4px;
                      position: absolute;
                      right: 32px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .View_right {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > .View_Category {
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        > li {
          display: flex;
          flex-direction: column;
          gap: 8px;
          > p {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: -0.4px;
          }
          > span {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.4px;
          }
        }
      }
    }
    > .View_Text {
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.4px;
      }
      span {
        font-weight: bold;
      }
    }
    > .View_modify {
      display: flex;
      gap: 8px;
      button:first-child {
        width: calc(100% - 56px);
      }
      button:last-child {
        width: 56px;
      }
      button {
        border-radius: 8px;
        padding: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.4px;
        color: white !important;
        background: transparent;
        border: 1px solid var(--colorMain);
        svg * {
          color: white !important;
        }
      }
    }
    > .View_interest {
      button {
        border-radius: 8px;
        padding: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 100%;
        letter-spacing: -0.4px;
        color: white !important;
        background: transparent;
        border: 1px solid var(--colorMain);
      }
    }
  }
}
.View_list {
  color: #fff;
  > h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.4px;
    padding-bottom: 16px;
    text-align: center;
  }
  > ul {
    display: flex;
    gap: 16px;
    justify-content: center;
    li {
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      .View_listImg {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .View_listInfo {
        padding: 0 16px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .View_list_Tag {
          padding-top: 8px;
          display: flex;
          align-items: center;
          li {
            color: #9d9d9d;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.4px;
          }
          li::before {
            width: 1px;
            height: 14px;
            background: #9d9d9d;
            content: "";
            display: inline-block;
            margin: 0 8px;
          }
          li:first-child::before {
            display: none;
          }
        }
        > h2 {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px; /* 133.333% */
          letter-spacing: -0.4px;
        }
        > span {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.4px;
        }
        > .View_list_Hash {
          padding-top: 12px;
          position: relative;
          display: flex;
          gap: 8px;
          width: 100%;
          height: 42px;
          > div {
            position: unset;
            width: 80%;
            div:nth-child(1) {
              > div {
                color: white;
                width: auto !important;
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 4px 12px;
              }
              div:last-child {
                padding-right: 0;
              }
            }
            > div:nth-child(3) {
              right: -10px !important;
              height: auto;
              bottom: 0;
              align-items: flex-end;
            }
            > div:nth-child(2) {
              left: -10px !important;
              height: auto;
              bottom: 0;
              align-items: flex-end;
            }
          }
        }
      }
    }
  }
}
.UrlPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 140px;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 10;
  align-items: center;
  .UrlBackground {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  h2 {
    background: black;
    width: 498px;
    height: 72px;
    z-index: 10;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
}
