.Title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.4px;
}

.SearchListInputBox {
  position: relative;
  padding: 24px 0;
  input {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 16px 16px 16px 48px;
    gap: 8px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
    &::placeholder {
      color: #9d9d9d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.4px;
    }
  }
  .SearchBtn {
    position: absolute;
    top: 37px;
    left: 16px;
    * {
      width: 24px;
      height: 24px;
      color: #9d9d9d;
    }
  }
}

.BusinessList {
  width: 100%;
  height: 100%;
  .BusinessManual {
    .BusinessManualBackground {
      background: black;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    .BusinessManualBox {
      display: flex;
      width: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      border-radius: 8px;
      background: #141414;
      box-shadow: 0px 0px 15px 0px rgba(20, 20, 20, 0.7);
      .BusinessManualTop {
        display: flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: stretch;
        button {
          background: transparent;
          border: 0;
          svg {
            font-size: 36px;
            * {
              color: white;
            }
          }
        }
      }
      .BusinessManualBody {
        padding: 24px 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .BusinessManualDesc {
          display: flex;
          gap: 24px;
          .BusinessImg {
            width: 60px;
            height: 60px;
            border-radius: 8px;
            object-fit: cover;
          }
          div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h1 {
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px; /* 150% */
              letter-spacing: -0.4px;
            }
            p {
              color: #9d9d9d;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 157.143% */
              letter-spacing: -0.4px;
            }
          }
        }
        .BusinessManualIntro {
          display: flex;
          flex-direction: column;
          gap: 16px;
          h1 {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 155.556% */
            letter-spacing: -0.4px;
          }
          textarea {
            width: 100%;
            padding: 16px 16px 36px 16px;
            height: 150px;
            border-radius: 8px;
            font-family: "Spoqa Han Sans Neo", "sans-serif";
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: transparent;
            color: white;
            resize: none;
            outline: none;
            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
  .BusinessListPopup {
    .BusinessListPopupBackground {
      background: black;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    .BusinessListPopupBox {
      display: flex;
      width: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      padding: 24px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      border-radius: 8px;
      background: #141414;
      box-shadow: 0px 0px 15px 0px rgba(20, 20, 20, 0.7);
      div {
        width: 100%;
      }
      h1 {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: -0.4px;
        padding-bottom: 8px;
      }
      p {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: -0.4px;
      }
      .BusinessPopupBtn {
        display: flex;
        gap: 8px;
        width: 100%;
        button {
          background: transparent;
          color: white;
          border-radius: 8px;
          border: 1px solid var(--1, #00f2fe);
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: flex-start;
          flex: 1 0 0;
          &:last-child {
            background: linear-gradient(91deg, #00f2fe 0%, #4facfe 98.1%);
            border: 0;
          }
        }
      }
    }
  }
  .BusinessItemList {
    width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    li {
      width: calc(100% / 3 - 11px);
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      .BusinessImg {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        object-fit: cover;
      }
      .BusinessDesc {
        p {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; /* 150% */
          letter-spacing: -0.4px;
          padding-bottom: 8px;
        }
        span {
          color: #9d9d9d;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
          letter-spacing: -0.4px;
        }
      }
      .BusinessIntro {
        p {
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          word-break: break-word;
          flex: 1 0 0;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.4px;
        }
      }
      .BusinessBtn {
        display: flex;
        gap: 16px;
        width: 100%;
        button {
          width: 100%;
          display: flex;
          padding: 8px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          border: 1px solid var(--1, #00f2fe);
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.4px;
          background: transparent;
          &:first-child {
            border: 0;
            border-radius: 8px;
            background: var(
              --1,
              linear-gradient(91deg, #00f2fe 0%, #4facfe 98.1%)
            );
          }
        }
      }
    }
  }
  .PageNation {
    padding-top: 24px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 23px;
      * {
        color: white;
      }
      button {
        border: 0;
        background: transparent;
        color: #ffffff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: -0.4px;
      }
      .Clicked {
        color: #00f2fe;
      }
    }
  }
}
